@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner-bg {
    background: #14141f;
  }

  .btn {
    width: 150px;
    padding: 10px;
    border: 2px solid #5142fc;
    border-radius: 50px;
  }

  .small-text {
    color: #4B50E6;
  }

  .btn-primary {
    color: #fff;
    width: 150px;
    border: 2px solid #5142fc;
    border-radius: 50px;
    padding: 15px;
  }

  .btn-primary:hover {
    background: #fff;
    color: #5142fc;
    border: 2px solid #fff;
    transition: 0.3s;
  }
}
