@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner-bg {
    background: #14141f;
  }

  .btn {
    width: 150px;
    padding: 10px;
    border: 2px solid #5142fc;
    border-radius: 50px;
  }

  .small-text {
    color: #4B50E6;
  }

  .btn-primary {
    color: #fff;
    width: 150px;
    border: 2px solid #5142fc;
    border-radius: 50px;
    padding: 15px;
  }

  .btn-primary:hover {
    background: #fff;
    color: #5142fc;
    border: 2px solid #fff;
    transition: 0.3s;
  }

  .wallet-btn {
    width: 12rem;
    height: 3rem;
    border: 2px solid #5142FC;
    border-radius: 5rem;
  }

  .wallet-btn:hover {
    background-color: #fff;
    color: #5142fc;
    border-color: #fff;
  }

  .mode-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #343444;
  }
}
